<a href="https://colab.research.google.com/github/Kumarkodi/Become-a-Data-Analyst/blob/Main/Basic_to_Advance_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Variable in Python

var = 5

In [2]:
var

5

In [3]:
Var = 6

In [4]:
Var

6

In [5]:
var == Var

False

In [6]:
x=3
x

3

In [8]:
x=x+1
x

5

In [10]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
len(keyword.kwlist)

35

In [ ]:
## Indentation: Python uses indentation to signify the beginning and end of blocks.
## It's essential for maintainning the readability and structure of the code.
## Indentation refers to the spaces or tabs at the beginning of the line of the code.

In [12]:
# For Loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
# If-Else Statement

x = 10
if x > 5:
  print("x is greater than 5")
else:
  print("x is not greater than 5")

x is greater than 5

In [14]:
# While Loop

count = 0
while count < 3:
  print("Count: ", count)
  count += 1

Count:  0
Count:  1
Count:  2

In [16]:
# Function

def my_function():
  print("Inside the function")

my_function()

Inside the function

In [17]:
# Classes

class Myclass:
  def __init__(self, value):
    self.value = value

  def display_value(self):
    print("value: ", self.value)

obj = Myclass(42)
obj.display_value()

value:  42

In [18]:
# Exception Handling (try-except blocks):

try:
  result = 10/0
except ZeroDivisionError:
  print("Cannot divide by Zero!")

Cannot divide by Zero!

In [19]:
# With Statements:

with open("example.txt", "r") as file:
  content = file.read()
  print(content)

FileNotFoundError: [Errno 2] No such file or directory: 'example.txt'

In [20]:
## Type Conversion

age = input()

24

In [21]:
age = age +1

TypeError: can only concatenate str (not "int") to str

In [22]:
type(age)

str

In [24]:
age = int(age)+1
age

26

In [29]:
# Implicit

1+1.2

2.2

In [30]:
# Explicit

2+2+ 3j

(4+3j)

In [32]:
int('2'), str(2), list("prince"), tuple([1,2,25,65]), bool(0), complex(2,3), float(56)

(2, '2', ['p', 'r', 'i', 'n', 'c', 'e'], (1, 2, 25, 65), False, (2+3j), 56.0)

In [34]:
# print()
print("Kumar", 25 , 4.3, 4+3j,True)
type(print("Kumar", 25 , 4.3, 4+3j,True))

Kumar 25 4.3 (4+3j) True
Kumar 25 4.3 (4+3j) True

NoneType

In [37]:
#input
food = input("Enter the food you want: ")

Enter the food you want: Dal Rice

In [39]:
food , num = input("Enter the food and items you want: ").split()

Enter the food and items you want: pizza 3

In [40]:
food

'pizza'

In [41]:
num

'3'

In [ ]:
# Operators

# Mathematical Calculations: Addition(+), Substraction(-), Division(/), Floor
# Division(//), Modulus(%), Exponentiation(**)

In [42]:
a = 5
b = 2
a+b, a-b, a/b, a//b, a%b, a**b

(7, 3, 2.5, 2, 1, 25)

In [ ]:
## Variable Based Operators

#Assignment(=)
#Addition Assignment (+=)
#Substraction Assignment (-=)
#Multiplication Assignment (*=)
#Division Assignment (/=)
#Floor Division Assignment (//=)
#Modulus Assignment (%=)

#Assignment operators used for these of the following Purpose
#Variable Inintialization
#Updating Variables
#Accumulating Results
#Conditional Assignment
#Loop Iterations

In [45]:
a = 3
a = a + 1
a

4

In [46]:
a += 1
a

5

In [47]:
a-=1
a

4

In [ ]:
# Comparision Based Conditions

#Equal to (==)
#Not Equal to (!=)
#Greater than (>)
#Less than (<)
#Greater than or equal to (>=)
#Less than or equal to (<=)

In [48]:
a = 2
b = 3
a==b, a!=b, a>b, a<b, a>=b, a<=b

(False, True, False, True, False, True)

In [ ]:
# Taking Decision Based on Conditions:

#Logical AND (and)
#Logical OR (or)
#Logical NOT (not)

# Logical Operaters:used in decision-making and control flow structures
# to combine multiple conditions into a single decision.

In [52]:
a = 3
b = 4

a>1 and a>b

False

In [53]:
a>1 or a>b

True

In [ ]:
# Binary Level Operations:

#Bitwise AND (&)
#Bitwise OR (|)
#Bitwise XOR (^)
#Bitwise NOT (~)
#Bitwise Left Shift (<<)
#Bitwise Right Shift (>>)

In [54]:
a = 3
b = 2
a&b, a|b, a^b, ~a, a<<b, a>>b

(2, 3, 1, -4, 12, 0)

In [55]:
#Memory Related Operations:

#Identity (is)
#Not Identity (is not)

In [57]:
a = 2
b = 2
a is b, a is not b

(True, False)

In [58]:
# Element Presence Based Condition:

#In
#Not In

In [59]:
a = [1,2,3,4]
b = 2
b in a, b not in a

(True, False)

In [ ]:
# Conditional Statement

#if
#elif
#else

In [60]:
a = 1
if a > 0:
    print("Positive")
elif a < 0:
    print("Negative")
else:
    print("Zero")

Positive

In [63]:
person = 3

if person < 2:
  print('you can book a single table')
elif person < 7:
  print('you can book a six seater table')
elif 7 <= person <= 10:
  print('you can book two tables')
else:
  print('we do not have any options')

you can book a six seater table

In [64]:
# Nested if - else:

person = 9
girls = 1
if person < 2:
  print('you can book a single table')
elif person < 7:
  print('you can book a six seater table')
elif 7 <= person <= 10:
  print('you can book two tables')
  if person == 9 and girls == 2:
    print('you got offer of 4 plate free food')
  else:
    print("you donot have 2 girls")
else:
  print('we donot have any option')

you can book two tables
you donot have 2 girls

In [67]:
# Loops

list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
tuple(range(3,11))

(3, 4, 5, 6, 7, 8, 9, 10)

In [69]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [70]:
tuple(range(1,11,2))

(1, 3, 5, 7, 9)